name: Build and Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        TF: [test]
    services:
      firefox: "113"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install dependencies
        run: |
          curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@7
          pnpm config set store-dir ~/.pnpm-store
          pnpm install --no-frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Test
        run: |
          cd ${{ matrix.TF }}
          pwd
          bash ./gh-actions.sh
